:root{
    --colour-bg1: #000000;
    --colour-bg2: #6D5632;
    --colour-bg3: #362121;
    --colour-bg4: #313131;
    --colour-bg5: #584e11;
    --colour-bg6: #684a4a;
    --colour-bg7: #424133;
    --colour-btn1: #313131;
    --colour-btn2: #02b220;
    --colour-btn3: #ff0000;
}