.btn-primary {
    background-color: var(--colour-btn1);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    height: auto;
    padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
    box-sizing: border-box;
    border: none;
    min-width: 10rem;
    margin: var(--space-sm);
    list-style-type: none;
    font-family: var(--font-primary);
    box-sizing: border-box;
    border: none;
    font-size: var(--text-sm);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-yes {
    background-color: var(--colour-btn2);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    height: auto;
    padding:var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
    box-sizing: border-box;
    border: none;
    min-width: 10rem;
    margin: 0.5rem;
    list-style-type: none;
    font-family: var(--font-primary);
    box-sizing: border-box;
    border: none;
    font-size: var(--text-sm);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-no {
    background-color: var(--colour-btn3);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    height: auto;
    padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
    box-sizing: border-box;
    border: none;
    min-width: 10rem;
    margin: 0.5rem;
    list-style-type: none;
    font-family: var(--font-primary);
    box-sizing: border-box;
    border: none;
    font-size: var(--text-sm);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    flex-direction: row;
    padding-right: 3rem;
    padding-left: 3rem;
}

.gallery > * {
    margin-right: 0;
    margin-left: 0;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
}

input {
    border-radius: 1rem;
    height: auto;
    padding-top: var(--space-xxs);
    padding-bottom: var(--space-xxs);
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    box-sizing: border-box;
    border: none;
}

.link-box {
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: var(--space-xs);
    justify-content: center;
    align-items: center;
}

.link-box > * {
    width: inherit;
    height: fit-content;
}


.product-box {
    display: flex;
    background-color: black;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    margin: var(--space-sm);
    position: relative;
}

.product-box > img {
    width: 100%;
    height: auto;
}

.box__year {
    position: absolute;
    width: auto;
    height: auto;
    right: 8%;
    top: 10%;
    font-size: var(--text-sm);
}


.box__brand {
    position: absolute;
    width: auto;
    height: auto;
    left: 8%;
    bottom: 8%;
}

.box__brand > h3 {
    font-size: var(--text-md);
    text-transform: uppercase;
    text-align: left;
    width: 50%;
}

.box__brand > h4 {
    font-size: var(--text-xs);
    text-align: left;
    padding-top: var(--space-xs);
    width: 90%;
}

.box__price {
    position: absolute;
    width: auto;
    height: auto;
    right: 8%;
    bottom: 8%;
    font-weight: bold;
}

.roundbox {
    border: 1px solid lavender;
    border-radius: 1rem;
    max-width: 25rem;
    width: 100%;
    margin-bottom: var(--space-xxxs);
}