.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1em;
}

.cluster > * {
    margin: 0.5rem;
    color: white;
    list-style-type: none;
    font-family: var(--font-primary);
}

header {
    background-color: var(--colour-bg1);
}


footer {
    background-color: var(--colour-bg4);
    
}

footer > * {
    color: white;
    list-style-type: none;
    align-items: center;
}

.content__center {
    display: block;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

footer > .content__center > * {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    padding-bottom: var(--space-sm);
}