/* General */

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 0.5rem;
    list-style-type: none;
    font-family: var(--font-primary);
}

header {
    background-color: var(--colour-bg1);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.img__header {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
}

.h__nav > .cluster > li > a:link, a:visited {
    color: white;
    text-decoration: none;
}

.h__nav > .cluster > li > a:hover {
    color: var(--colour-btn2);
    text-decoration: none;
}

footer {
    background-color: var(--colour-bg4);
}


footer > * {
    color: white;
    list-style-type: none;
    align-items: center;
}

footer > .cluster {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer > li {
    padding-top: var(--space-xs);
}

.fcontacts-cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0.5rem;
}

footer > .content__center {
    display: block;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer > .content__center > * {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    padding-bottom: var(--space-sm);
    text-align: center;
}

.img__footer {
    width: 70%;
}

.fcontacts-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    padding-right: var(--space-md);
    padding-left: var(--space-md);
}

.fcontacts-box > * {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    padding-top: var(--space-sm);
    font-size: var(--text-md);
    align-items: flex-start;
}

.fcontacts-box > ul > li + li {
    padding-top: var(--space-xs);
}

section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	height: auto;
    padding: 3rem;
}

/* index.html */

.body__index {
    display: grid;
    grid-template-areas: 
        "section-a"
        "section-b"
        "section-c"
        "section-d"
        "section-nl";

    grid-template-rows: 100vh auto auto auto;
    grid-template-columns: 100%;
}

.section-a {
    grid-area: section-a;
    background-color: var(--colour-bg1);
    background-image: linear-gradient(#000000, #00000000, #00000000), url(../images/guitar1_bg.jpg);
    background-position: bottom;
    background-size: 100%;
    text-align: center;
    position: relative;
}

.section-a-text {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
}

.h1__index {
    font-family: var(--font-secondary);
    font-size: 3.5rem;
    padding: 0.5em;
    font-weight: 400;
}


.section-b {
    grid-area: section-b;
    background-color: var(--colour-bg2);
}

.section-c {
    grid-area: section-c;
    background-color: var(--colour-bg3);
    display: grid;
    grid-template-areas: 
        ". ."
        "c__text-1 c__image-1"
        "c__image-2 c__text-2"
        "c__text-3 c__image-3"
        ". .";

    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: var(--space-xl) var(--space-md);
}

.c-image-1, .c-image-2, .c-image-3, .c-text-1, .c-text-2, .c-text-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-text-1 {
    grid-area: c__text-1;
}

.c-image-1 {
    grid-area: c__image-1;
}

.c-text-2 {
    grid-area: c__text-2;
}

.c-image-2 {
    grid-area: c__image-2;
}

.c-text-3 {
    grid-area: c__text-3;
}

.c-image-3 {
    grid-area: c__image-3;
}

.c-text-responsive {
    display: none;
}

.description {
    text-align: justify;
    line-height: var(--space-md);
    max-width: 280px;
}

.table-image {
    width: 20em;
    border-radius: 3rem;
    text-align: center;
}

.table-image__reversed {
    transform: scaleX(-1);
}

.section-d {
    grid-area: section-d;
    background-color: var(--colour-bg4);
}

.section-nl {
    grid-area: section-nl;
    background-color: var(--colour-bg5);
}
